.weeks, section, .login main{
    margin: auto;
    text-align: center;
}

main{
    text-align: center;
}

.weeks{
    display: inline-block;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    background: #fbfbfb;
    box-shadow: 2px 2px 5px #EEEEEE;
    padding-top: 12px;
}

.weeks .footer{
    width: 100%;
    min-height: 12px;
    background: #ebebeb;
    display: flex;
    justify-content: center;
}

.login main{
    margin-top: 250px;
    width: 400px;
    padding: 25px 25px 0 25px;
    border: 1px solid gray;
    border-radius: 15px;
}

.week{
    padding-top: 14px;
    margin: 1px;
    display: inline-block;
    min-height: 95px;
    border-bottom: 1px dotted #eee;
    position: relative;
}

.week:first-child{
    margin-left: 20px;
}

.week:last-child{
    margin-right: 20px;
}

.week-first{
    border-left: 1px dotted #eee;
    margin-left: 4px;
    padding-left: 2px;
}

.week-new_year{
    border-left-color: #E91E63;
    border-left-style: dashed;
    border-left-width: 1px;
}

.day{
    width: 12px;
    height: 12px;
    background: #eee;
    margin: 1px 0;
    vertical-align: top;
    border-radius: 2px;

    cursor: pointer;
}

.day.transparent{
    background: transparent;
    cursor: default;
}

.day:hover{
    box-shadow: 0 0 2px black;
    opacity: 0.8;
}

.day.transparent:hover{
    box-shadow: none;
    opacity: 1;
}

.material-icons.gray{
    color: #eee;
}

.row{
    display: block;
    margin: 2px 0;
}

.row.centered > * {
    width: 49%;
    display: inline-block;
}

.btn{
    background: #eee;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}p

.input{
    border: none;
    background: #eee;
}

#explorer-report .material-icons{
    cursor: pointer;
    transition: color 0.25s ease-in;
}

.score{
    padding: 10px 0;
}

section#welcome{
    margin-bottom: 10px;
}


.date-label{
    position: absolute;
    top: 0;
    left: 4px;
    width: 80px;
    font-size: 8pt;
    color: grey;
    text-align: left;
}

.contrib{
    min-height: 50px;
    min-width: 110px;
    margin: 5px;
    background: white;
    border-radius: 10px;
    padding: 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contrib_score{
    font-weight: bolder;
    color: #b2b2b2;
    font-size: 22pt;
    font-family: sans-serif;
}

.contrib_details{
    font-size: 10pt;
    text-transform: uppercase;
    color: #545454;
    margin-top: 2px;
}
